@charset="utf-8";
*{margin:0;padding:0;}
body{
background: url(../images/bg.jpg) fixed;
background-size: cover;
}
div img{
  height: auto;
  margin:0 auto;
  display: block;
  border: 0;
  
  
}



.fixed{
  position: fixed;
  right:100px;
  bottom:100px;
}
.fixed:hover{
  opacity:0.8;
}
.fixed2{
  position: fixed;
  right:100px;
  bottom:40px;
}
.fixed2:hover{
  opacity:0.8;
}